<main class="login">
<div class="form-signin">
<form action="/users/register" method="post"> <!-- form från bootstrap-->

  <h1 class="h3 mb-3 fw-normal"> Please register </h1>
  <%- include('partials/messages') %> <!-- includera fel meddelande från partials map messages.ejs-->

    <label for="inputName" class="visually-hidden">Name</label>

    <input 
    type="text" 
    id="inputName" 
    class="form-control" 
    name="name" 
    placeholder="Name"
     value="<%= typeof name != 'undefined' ? name : '' %>" 
     required autofocus>  <!-- kontrollera om det finns name, skriva ut det, annars tom sträng -->

    <label for="inputEmail" class="visually-hidden">Email address</label>

    <input 
    type="email" 
    id="inputEmail" 
    class="form-control" 
    name="email" 
    placeholder="Email address"
    value="<%= typeof email != 'undefined' ? email : '' %>" 
    required>  <!-- kontrollera om det finns email, skriva ut det, , annars tom sträng -->

    <label for="inputPassword" class="visually-hidden">Password</label>

    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

</form>

<p><a href="/users/login">Login</a></p> <!-- länk till inloggning sida-->

</div>

</main>