<main class="login">
<div class="form-signin">
<h1>Slack Clone </h1>

<p>Create an account or login</p>

<p><a  href="/users/register">Register</a></p> 
<p><a  href="/users/login">Login</a></p> 

</div>
</main>